#wrapper {
	margin: 5px auto;
	width: 700px;
}
h1 {
	margin:5px;
	font-size:18px;
}
h2 {
	font-size:18px;
	margin:5px 5px 20px 5px;
}
form {
	width:655px;
	margin:0 auto;
}
label {
	font-size:18px;
	font-weight:100;
	width:180px;
	display:inline-block;
}
input[type="button"] {
	border:solid;
}

.errorField {
	padding:0px 3px;
	color:white;
	background:gray;
	border:solid black 1px;
	float:right;
	width:325px;
}
.inputContainer {
	margin:10px 5px;
}
.costOutput {
	color:blue;
	font-size:18px;
}
.costCalc {
	font-size:18px;
	width:120px;
	display:inline-block;
}
#output {
	font-size: 20px;
}